<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-2">
            <div class="">
                <div class="card" >
                    <h3 class="card-header text-center text-primary"> Titulo</h3>
                    <div class="card-body">
                        <h4 class=""></h4>
                        <p>Fecha: </p>
                        <p>Lugar: </p>
                        <p>Presentador:</p>
                        <p>Descripcion: </p>
                        <p>Documentos: </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="">carta gantt</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="">listado de participantes</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>