<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container bg-light">
        <a class="navbar-brand" href="/proyecto/miembros/gestion">Gestion de miembros de Proyecto</a>
        <a class="navbar-brand" href="/proyecto/gestion/{{this.datos[0].Proy_ID}}">Gestion de Proyecto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#"><i class="fas fa-envelope-open-text"></i></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1 class="my-4">Contenido en construccion</h1>
</div>
<div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://images.unsplash.com/photo-1535378917042-10a22c95931a?ixlib=rb-1.2.1&auto=format&fit=crop&w=731&q=80" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Proyecto: {{this.datos[0].Nombre}}</h3>
      <p><span class="badge badge-warning">Estado: {{this.datos[0].Estado}}</span></p>
      <p>Descripcion: {{this.datos[0].Descripcion}}</p>
    </div>
  </div>