
<div *ngIf="bool==true" class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    Salidas a terreno
                    <button class="btn btn-success btn-sm" [routerLink]="['/viajes/create']" >+
                    </button>
                </div>
                
                <div class="card-body  ">
                    <ul  class="list-group ">
                        <li *ngFor="let viaje of viajes;let iteracion=index" class="list-group-item d-flex justify-content-between align-items-center">
                            <a (click)="mostrarViaje(viaje.Viaje_ID)">{{viaje.Lugar}}</a>
                            <div>
                                <button class="btn btn-dark btn-sm" [routerLink]="['update',viaje.Viaje_ID]" >edit</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteviaje(viaje.Viaje_ID)" >x</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        
    </div>
</div>
 
<div *ngIf="bool==false" class="container">
    <div class="row">
        <div class="col-8 offset-md-2 mt-2">
            <div class="">
                <button class="btn btn-danger" (click)="volver()">volver</button>
                <div class="card" >
                    <div class="card-body">
                        <h4 class="text-primary">{{vjs.Lugar}}</h4>
                        <p>Motivo: {{vjs.Motivo}}</p>
                        <p>Fecha inicio: {{vjs.Fecha_inicial|date}}</p>
                        <p>Fecha fin: {{vjs.Fecha_final|date}}</p>
                        <p>Descripcion: {{vjs.Descripcion}}</p>
                        <p>Imagenes: </p>
                        <div class="container">
                            <div class="row">
                                <div *ngFor="let img of imagenes" class="col-6 my-1">
                                    <img [src]="img" alt="" class="card-img-top">
                                </div>
                            </div>
                            
                        </div>
                        <p>Documentos: </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="http://localhost:3000/download/FolletoAlma.pdf">Folleto Alma</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="http://localhost:3000/GU%C3%8DA%20%20n%C2%BA%20%205%20%208%C2%BA%20%20funciones.pdf">listado de participantes</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

