<div class="col-6 mt-2 mx-auto">
    <div class="card">
      <h3 class="card-header text-center">Te han invitado al proyecto {{Name_proy}}</h3>
      <div class="card-body">
        <p class="font-weight-bold">Deseas aceptar la invitacion?</p>
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <button class="btn btn-primary" (click)="aceptar_inv()">
                    Aceptar
                </button>
                <button class="btn btn-danger" (click)="rechazar_inv()">
                    Rechazar
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
  